// ==========================================================================
// ★ LAYOUT
// ==========================================================================

// breakpoints

$S:     480px;
$M:     768px;
$ML:    960px;
$L:     1170px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == ML {
   @media only screen and (min-width: $ML) { @content; }
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }
  }
}

.col-6 {
  width: 100%;

  @include MQ(M) {
    width: 50%;
    float: left;
    padding: 20px;
    padding-left: 0;
  }
}

main {
  padding: 0;
  text-align: left;

  .cd-main-content {
    position: relative;
    height: 100%;

    a {
      text-decoration: none;
    }
  }

  p {
    width: 100%;
    max-width: $M;
    margin: 1em 0;
    font-size: 1.4rem;
    line-height: 1.25;
    color: $color-2;
    text-align: left;
  }

  ul {
    margin-top: .5em;
    padding: 0;
  }

  @include MQ(M) {

    p {
      font-size: 1.8rem;
      line-height: 1.25;
    }
  }
}